h1{
  text-align: center;
  padding: 2em;
}

.title__img{
  width: 100%;
}

#home__gallery{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

table, th, td{
  border: 1px solid black;
}
