h1{
  text-align: center;
  padding: 1em;
}

.title__img{
  width: 100%;
}

#home__gallery{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

form{
  justify-content: space-around;
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: lightblue;
}

table{
    max-width: 800px;
    margin: auto;
}

table, th, td{
  border: 1px solid black;
}
